.wrapper__footer {
  margin-top: 69px;
  max-height: 315px;
  display: flex;
  justify-content: space-between;
}

.footer_head {
  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;
  line-height: 16.94px;
  opacity: 50%;
}

.footer_list {
  padding: 0;
}

.footer__item {
  list-style: none;
}

.footer__link {
  font-family: "Inter";
  font-weight: 400;
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
  color: white;
}

.footer__link:hover,
.footer__link:focus,
.footer__link:active {
  color: bisque;
}

.footer__end {
  line-height: 30px;
  text-align: right;
}

.footer__icons {
  margin: 0 auto;
}

.footer__icons-pic {
  margin-bottom: 15px;
  padding-left: 30px;
}

.footer__text-end {
  margin: 0 auto;
  margin-top: 30px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (max-width: 500px) {
  .wrapper__footer {
    flex-direction: column;
  }

  .footer__end {
    text-align: left;
  }
}
